*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
}
html{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #fff;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E8BBA8;
    width: 100%;
    padding: 48px;

    position: sticky;
    top:0;
    z-index: 1;
}
.lista{
    width: 465px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
li{
    font-weight: 700;
    font-size: 30px;
    line-height: 35.16px;
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 100px;
    position: relative;
}
.principal__h1{
    width: 714px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80.45px;
    margin-bottom: 56px;
}
.principal__p{
    font-weight: 300;
    font-size: 36px;
    line-height: 42.19px;
    margin-bottom: 100px;
}

.principal__imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 120px
}
.img-bug-um{
    position: relative;
    left: 50px;
}
.img-bug-dois{
    position: relative;
    bottom: 30px;
}

.modal{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #00000080;
}
.modal img{
    width: 500px;
    height: 512px;
}