*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paises{
    max-width: 98vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pais{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;  
    margin: 10px; 
    flex-wrap: wrap;
}
img{
    width: 1235px;
    height: 650px;
}
.escondido{
    display: none;
}