.table-line{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 27px;
  
    width: 964px;
    min-height: 58px;
  
    border-bottom:  1px solid #E0E0E0;
  }
  
  
  
  .data-line{
    width: 102px;
    height: 17px;
    margin-right: 60px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
  }
  
  .day-line{
  
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-right: 67px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  
  .descricao-line{
    width: 100px;
    min-height: 17px;
    margin: auto 53px auto 70px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  
  .category-line{
    width: 118px;
    min-height: 17px;
    margin-right: 68px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  
  .valor-line{
    width: 85px;
    min-height: 17px;
    margin-right: 150px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  
    color: #000000;
  }
  .line-in{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  
    color: #7B61FF;
  }
  .line-out{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  
    color: #FA8C10;
  }
  
  .table-line-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
    gap: 13px;
  }
  
  .modal-delete{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 15px 8px;
    
    position: absolute;
    left:28px;
    height: 46px;
    top: 30px;
    z-index: 1;
  
    width: 111px;
  
    background: #E4F2FD;
    border-radius: 4px;
  }
  
  .modal-delete-title{
    width: 60px;
    height: 12px;
    margin-bottom: 4px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #000000;
  }
  .modal-delete-buttons{
    display: flex;
    gap: 7px;
  }
  .modal-delete-close{
    width: 37px;
    height: 15px;
  
    background: #3A9FF1;
    border-radius: 4px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
  
    color: #FFFFFF;
  }
  
  .modal-delete-btn{
  
    width: 37px;
    height: 15px;
    background: #FF576B;
    border-radius: 4px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
  
    color: #FFFFFF;
  
  }

  .hidden{
    display: none;
  }